---
title: CSS helper
description: >
  Like the js helper, the CSS helper reads the extension of the given
  file and either generates a style tag for CSS or to be used with LESS
---
<h1>{{title}}</h1>
<p>{{description}}</p>


<h2>Stylesheets</h2>

<h4>CSS</h4>
{{css 'styles.css'}}

<h4>LESS</h4>
{{css 'styles.less'}}
