---
title: Push and Section helpers
layout: src/templates/layouts/section-layout.hbs
---


{{#push section="Intro" name="Chapter1"}}
<h1>Chapter 1: Preface</h1>
{{/push}}



{{#push section="Intro" name="Chapter2"}}
<h1>Chapter 2: Arrays</h1>
{{/push}}
{{#push section="Getting Started" name="Chapter4"}}
<h1>Chapter 4: Collections</h1>
{{/push}}
{{#push section="Intro" name="Chapter3"}}
<h1>Chapter 3: Objects</h1>
{{/push}} 
{{#push section="Getting Started" name="Chapter5"}}
<h1>Chapter 5: Prototype</h1>
{{/push}}    






